node
node_modules
*.log
venv/
__pycache__/
*.pdf
*.csv
.DS_Store
.env
.idea/
pdf.py
.vscode/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.env.production
.env.development
.env
*.key
best_model.encrypted
*.pth
*.jpg
*.png
*.jpeg
*.sqlite